@mixin light-theme {
  --principal: #{$purple-1};
  --secondary: #{$black};
  --support: #{$gray};
  --background: #{$white};

  // Dashboard
  --dashboard-border-color: #{$light};
}

@mixin dark-theme {
  --principal: #{$purple-2};
  --secondary: #{$white};
  --background: #{$black};

  // Dashboard
  --dashboard-border-color: #{$dark};
}

// browser theme
:root {
  @include light-theme;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    @include dark-theme;
  }
}

// user select theme
[data-user-theme=''] {
  [data-select-color-schema=''] {
    display: flex;
  }
}

[data-user-theme=light] {
  color-scheme: light;
  @include light-theme;

  [data-select-color-schema=light] {
    display: flex;
  }
}

[data-user-theme=dark] {
  color-scheme: dark;
  @include dark-theme;

  [data-select-color-schema=dark] {
    display: flex;
  }
}
