@import '../../../styles/import.esential';

.title {
  max-width: 768px;
  width: 100%;
  text-align: left;
}

.paragraph {
  max-width: 768px;
  width: 100%;
}

.listItem {
  margin-left: auto;
  max-width: 93%;
}
