@import 'assets/font', 'assets/variables', 'assets/theme';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $poppins;
}

body {
  color: $secondary;
  background-color: $background;
}

a,
button {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
}

a:hover {
  color: $principal;
}

::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track,
::-webkit-scrollbar {
  width: 5px;
  background-color: $background;
  border-left: 1px solid $dashboard-border-color;
}

::-webkit-scrollbar-thumb {
  background-color: $principal;
  border-radius: 10px;
}
